// ////////////////////
// V A R S
// //////////////////////////////////////////
// constants
$sidebar-width:						300px;
$sidebar-spacing:					20px;
$creator-width:						500px;
$creator-padding:					40px;
$screen-width:						300px;
$content-margin:					40px;
$content-margin-small:				20px;
$box-width:							80px;
$box-level-width:					30px;
$button-height:						50px;

// ////////////////////
// C O L O R S
// //////////////////////////////////////////
$bk-color:							#111;
$screen-color:						#141414;
$placeholder-color:					#444;		

// ////////////////////
// F O N T S
// //////////////////////////////////////////
@font-face {
	font-family:v-large;
	src:url("../fonts/visitor1.ttf");
}

@font-face {
	font-family:v-small;
	src:url("../fonts/visitor2.ttf");
}

.v-large {
	font-family:v-large;
	font-size:50px;
}

.v-small {
	font-family:v-small;
	font-size:30px;
}

.v-tiny {
	font-family:v-small;
	font-size:20px;
}

// ////////////////////
// G L O B A L S
// //////////////////////////////////////////
body {
	background-color:$bk-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	min-width:2000px;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin:0;

	&::-webkit-scrollbar {
    	display:none;
  	}
}

.content-c {
	width:100vw;
	height:100vh;
	overflow:hidden;
	min-width:2000px;
}

// ////////////////////
// I M P O R T S
// //////////////////////////////////////////
@import "sidebar";
@import "screen";
//@import "console";