.main-button {
	width:100%;
	height:$main-button-height;
	border:2px solid white;
	margin-bottom:$small-margin;

	p {
		color:white;
		line-height: $main-button-height;
	}

	&.clicked {
		color:gray;
	}
}

.console-c {
	width:100%;
	height:calc(100vh - #{$top-content-height});
	overflow:scroll;

	.name-row{
		width:100%;
		overflow: hidden;

		.left {
			color:white;
			float:left;
		}
		.right {
			color:white;
			float:right;
		}
	}

	.power-row{
		width:100%;
		overflow: hidden;

		.left {
			color:white;
			float:left;
		}
		.right {
			color:white;
			float:right;

			.otuAmt {
				color:$highlight;
			}
		}
	}

	.build-row{
		width:100%;
		overflow: hidden;
		margin-bottom:$small-margin;

		.build-body {
			float:left;
			overflow:hidden;

			.body-col {
				float:left;
				width:$box-width;
				margin-right:$box-margin;

				&:first-child, &:last-child {
					padding-top:calc(#{$box-width} / 2);
				}

				&:nth-child(2) .box:first-child {
					margin-bottom:$box-margin;
				}
			}
		}
		.build-info {
			float:right;
			width:$build-info-width;
			//padding-left:$box-margin;

			.class-row {
				width:100%;
				overflow:hidden;
				margin-bottom: 10px;

				.left {
					float:left;
					color:white;
				}

				.right {
					float:right;
					color:white;
				}
			}

			.otu-item-row {
				width:100%;
				overflow:hidden;

				.left {
					float:left;
					color:white;
				}

				.right {
					float:right;
					color:white;
				}
			}
		}
	}

	.bag-row {
		width:100%;
		// overflow:hidden;

		.box {
			float:left;
			margin-right:$box-margin;
			margin-bottom:$box-margin;

			&:nth-child(7), &:nth-child(14) {
				margin-right:0px;
			}
		}
	}
}