#loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $bk-color;
	z-index: 999;
	transition: opacity 0.5s ease-in-out;
}

body.loaded #loader {
	opacity: 0;
	pointer-events: none;
}

.game-c {
	width:100vw;
	height:100vh;
	text-align:center;

	.content-c {
		//width:$content-width;
		width:600px;
		display:inline-block;
		height:100%;
	}

	.players-side-bar {
		position:absolute;
		top:0;
		left:0;
		text-align:left;

		div {
			margin-bottom: 40px;

			p {
				color: $gray;

				&.username {
					color: white;

					span {
						display:none;
						color:green;
						padding-left:20px;
					}

					&.active {
						//color:red;

						span {
							display:inline-block;
						}
					}
				}
			}

			&.active {
				margin-left:30px;

				.username {
					color: $highlight;
				}
			}
		}
	}
}

.box {
	width:$box-width;
	height:$box-width;
	//outline:2px solid white;
	border:2px solid white;
	position:relative;
	z-index:1;

	svg {
		width: 100%;
		height: 100%;
		pointer-events: none;
	}

	&.active {
		z-index:100;
		.box-menu{
			display:block;
		}
	}

	&.fade {
		opacity:0.3;

		&:hover {
			opacity:1;
		}
	}

	&.flash-geen {
		border:2px solid green;
	}

	.box-level {
		position:absolute;
		bottom:-2;
		right:-2;
		width:$box-level-width;
		height:$box-level-width;
		border:2px solid white;

		p {
			line-height:calc(#{$box-level-width} - 2px);
			width:29px;
			color:white;
		}
	}

	&.low .box-level {
		border:2px solid cyan;

		p { color:cyan;}
	}

	&.med .box-level {
		border:2px solid green;

		p { color:green;}
	}

	&.high .box-level {
		border:2px solid orange;

		p { color:orange;}
	}

	&.wild .box-level {
		border:2px solid red;

		p { color:red;}
	}

	.box-cell {
		float:left;
		pointer-events:none;
	}

	.box-menu {
		display:none;
		// width:100px;
		// height:100px;
		background-color: $screen-color;
		position:absolute;
		left:calc(100% + 2px);
		// top:-2px;
		bottom: -2px;
		padding: 30px;
		width: 180px;
		//z-index:100;

		p {
			color:white;
			cursor:pointer;

			&.list-item:hover {
				color:green;
			}
		}
	}

	&.bag-box.bag-2nd-row .box-menu{
		top:auto;
		bottom:-2px;
	}

	&.bag-box.last-in-row .box-menu {
		//top:auto;
		left:auto;
		right:calc(100% + 2px);
		//bottom:-2px;

	}

	&.last-body-box .box-menu {
		left:auto;
		right:calc(100% + 2px);
	}
}