.game-c {
	width:100vw;
	height:100vh;
	text-align:center;

	.content-c {
		width:$content-width;
		display:inline-block;
		height:100%;
	}

	.players-side-bar {
		position:absolute;
		top:0;
		left:0;
		text-align:left;

		p {
			color:white;

			&.active {
				color:#0088F0;
			}
		}
	}
}

.box {
	width:$box-width;
	height:$box-width;
	//outline:2px solid white;
	border:2px solid white;
	position:relative;
	z-index:1;

	&.active {
		z-index:100;
		.box-menu{
			display:block;
		}
	}

	.box-level {
		position:absolute;
		bottom:-2;
		right:-2;
		width:$box-level-width;
		height:$box-level-width;
		border:2px solid white;

		p {
			line-height:calc(#{$box-level-width} - 2px);
			width:29px;
			color:white;
		}
	}

	.box-cell {
		float:left;
		pointer-events:none;
	}

	.box-menu {
		display:none;
		width:100px;
		height:100px;
		background-color: $screen-color;
		position:absolute;
		left:calc(100% + 2px);
		top:-2px;
		//z-index:100;

		p {
			color:white;
			cursor:pointer;
		}
	}

	&.bag-box.bag-2nd-row .box-menu{
		top:auto;
		bottom:-2px;
	}

	&.bag-box.last-in-row .box-menu {
		//top:auto;
		left:auto;
		right:calc(100% + 2px);
		//bottom:-2px;

	}

	&.last-body-box .box-menu {
		left:auto;
		right:calc(100% + 2px);
	}
}