.screen-c {
	text-align:center;
	width:100%;
	margin-bottom:$large-margin;
	border:2px solid white;
	overflow:hidden;
	height:$screen-width;
	margin-top:10px;

	&.flash-green {
		border:2px solid green;
	}

	&.flash-red {
		border:2px solid red;
	}

	.screen-text {
		text-align:center;
		width:100%;
		color:white;
		display:none;
		padding-top:100px;

		&.active {
			display:block;
		}
	}

	.screen {
		//display:inline-block;
		width:$screen-width;
		height:$screen-width;
		background-color: $screen-color;
		float:left;
		
		svg {
			width: 100%;
			height: 100%;
			pointer-events: none;
		}

		.screen-cell {
			float:left;
			pointer-events:none;
		}

		&.hidden {
			display:none;
		}
	}

	.screen-info-c {
		float:left;
		width:calc(#{$screen-width} - 6px);
		text-align:left;
		padding:5px;

		p {
			color:white;
			padding-left:5px;
			
			&.monster-lvl {
				margin-bottom:5px;

				.troll-debuff {
					display: none;

					&.Troll {
						display: inline;
					}
				}
			}

			&.monster-name {
				margin-bottom:10px;
			}

			&.monster-desc {
				margin-bottom:10px;
			}
		}

		&.hidden {
			display:none;
		}
	}
}