// ////////////////////
// V A R S
// //////////////////////////////////////////
// constants
// creator
$sidebar-width:						300px;
$sidebar-spacing:					20px;
$creator-width:						500px;
$creator-padding:					40px;
$content-margin:					40px;
$content-margin-small:				20px;
$creator-button-height:				50px;

//matchmaking
$options-width:400px;

// game
$content-width:						600px;
$screen-width:						300px;
$ultra-margin:						100px;
$large-margin:						30px;
$small-margin:						10px;
$main-button-height:				60px;
$small-button-height:				40px;
$box-width:							80px;
$box-margin:						5px;
$num-boxes:							6;
$box-level-width:					30px;
//$box-menu

// computed
$top-content-height: $screen-width + $large-margin + $main-button-height + $large-margin;
$content-width: ($box-width * $num-boxes) + ($box-margin * ($num-boxes - 1));
$build-info-width: ($box-width * 3) + ($box-margin * 2);

// ////////////////////
// C O L O R S
// //////////////////////////////////////////
$bk-color:							#111;
$screen-color:						#141414;
$placeholder-color:					#444;
$gray:								#b7b7b7;
$red:								#FF0000;
$highlight:							#00FF00;
$warrior: 							#AA5555;
$wizard: 							#5555AA;
$troll: 							#55AA55;
$priest: 							#AAAA55;

// ////////////////////
// F O N T S
// //////////////////////////////////////////
@font-face {
	font-family:v-large;
	src:url("../fonts/visitor1.ttf");
}

@font-face {
	font-family:v-small;
	src:url("../fonts/visitor2.ttf");
}

.v-ultra {
	font-family:v-large;
	font-size:100px;
} 

.v-large {
	font-family:v-large;
	font-size:50px;
}

.v-small {
	font-family:v-small;
	font-size:30px;
}

.v-tiny {
	font-family:v-small;
	font-size:20px;
}

.gray {
	color: $gray !important;
}

.red {
	color: $red !important;
}

.highlight {
	color: $highlight !important;
}

.Warrior {
	color: $warrior !important;
}

.Wizard {
	color: $wizard !important;
}

.Troll {
	color: $troll !important;
}

.Priest {
	color: $priest !important;
}

// ////////////////////
// G L O B A L S
// //////////////////////////////////////////
body {
	background-color:$bk-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin:0;

	&::-webkit-scrollbar {
    	display:none;
  	}
}

a {
	&:link {
		text-decoration: none;
	}
}

.version-title {
	position:absolute;
	top:0;
	left:0;
	color:white;
}

// ////////////////////
// I M P O R T S
// //////////////////////////////////////////
@import "login";
@import "matchmaking";
@import "_creator_sidebar";
@import "_creator_screen";
@import "game";
@import "screen";
@import "console";