@font-face {
  font-family: v-large;
  src: url("../fonts/visitor1.ttf");
}
@font-face {
  font-family: v-small;
  src: url("../fonts/visitor2.ttf");
}
/* line 36, ../sass/style.scss */
.v-large {
  font-family: v-large;
  font-size: 50px;
}

/* line 41, ../sass/style.scss */
.v-small {
  font-family: v-small;
  font-size: 30px;
}

/* line 46, ../sass/style.scss */
.v-tiny {
  font-family: v-small;
  font-size: 20px;
}

/* line 54, ../sass/style.scss */
body {
  background-color: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  min-width: 2000px;
}

/* line 63, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
/* line 69, ../sass/style.scss */
*::-webkit-scrollbar {
  display: none;
}

/* line 74, ../sass/style.scss */
.content-c {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  min-width: 2000px;
}

/* line 1, ../sass/_sidebar.scss */
.sidebar-c {
  float: left;
  width: 300px;
  height: 100%;
  margin-right: 40px;
  margin-left: 20px;
}
/* line 9, ../sass/_sidebar.scss */
.sidebar-c .sidebar-top {
  height: calc(100% - ((2 * 50px) + (2 * 20px)));
}
/* line 13, ../sass/_sidebar.scss */
.sidebar-c .submit-button {
  height: 50px;
  width: 100%;
  border: 2px solid white;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}
/* line 21, ../sass/_sidebar.scss */
.sidebar-c .submit-button p {
  color: white;
  line-height: calc(50px - 2px);
}
/* line 27, ../sass/_sidebar.scss */
.sidebar-c .load-button {
  height: 50px;
  width: 100%;
  border: 2px solid white;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}
/* line 35, ../sass/_sidebar.scss */
.sidebar-c .load-button p {
  color: white;
  line-height: calc(50px - 2px);
}
/* line 41, ../sass/_sidebar.scss */
.sidebar-c input {
  background-color: #111;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}
/* line 49, ../sass/_sidebar.scss */
.sidebar-c input::-webkit-input-placeholder {
  color: #444;
}
/* line 52, ../sass/_sidebar.scss */
.sidebar-c input::-moz-placeholder {
  color: #444;
}
/* line 55, ../sass/_sidebar.scss */
.sidebar-c input:-ms-input-placeholder {
  color: #444;
}
/* line 58, ../sass/_sidebar.scss */
.sidebar-c input:-moz-placeholder {
  color: #444;
}
/* line 63, ../sass/_sidebar.scss */
.sidebar-c .sidebar-title {
  color: white;
  margin-bottom: 20px;
}
/* line 68, ../sass/_sidebar.scss */
.sidebar-c .sidebar-p {
  color: white;
}
/* line 73, ../sass/_sidebar.scss */
.sidebar-c .type-input {
  margin-top: 10px;
  margin-bottom: 20px;
}
/* line 77, ../sass/_sidebar.scss */
.sidebar-c .type-input p {
  display: inline-block;
  margin-left: 10px;
  color: white;
}
/* line 83, ../sass/_sidebar.scss */
.sidebar-c .type-input input[type="radio"] {
  display: none;
}
/* line 87, ../sass/_sidebar.scss */
.sidebar-c .type-input .radio {
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
}
/* line 92, ../sass/_sidebar.scss */
.sidebar-c .type-input .radio .checkbox {
  float: left;
  width: 14px;
  height: 14px;
  border: 2px solid #444;
  background-color: #111;
}
/* line 100, ../sass/_sidebar.scss */
.sidebar-c .type-input .radio p {
  float: left;
  line-height: 15px;
  color: #444;
}
/* line 108, ../sass/_sidebar.scss */
.sidebar-c .type-input .radio.active .checkbox, .sidebar-c .type-input .radio:hover .checkbox {
  border-color: white;
  background-color: white;
}
/* line 113, ../sass/_sidebar.scss */
.sidebar-c .type-input .radio.active p, .sidebar-c .type-input .radio:hover p {
  color: white;
}
/* line 120, ../sass/_sidebar.scss */
.sidebar-c .color-selector {
  width: 100%;
  padding-top: 10px;
  border-top: 2px solid white;
}
/* line 125, ../sass/_sidebar.scss */
.sidebar-c .color-selector .color {
  cursor: pointer;
}
/* line 129, ../sass/_sidebar.scss */
.sidebar-c .color-selector .eraser {
  color: #444;
  cursor: pointer;
}
/* line 134, ../sass/_sidebar.scss */
.sidebar-c .color-selector .eraser:hover, .sidebar-c .color-selector .eraser.active {
  color: white;
}

/* line 1, ../sass/_screen.scss */
.creator-c {
  float: left;
  padding: 40px;
  margin-right: 20px;
}
/* line 6, ../sass/_screen.scss */
.creator-c .creator {
  width: 500px;
  height: 500px;
  background-color: #141414;
  overflow: hidden;
}
/* line 12, ../sass/_screen.scss */
.creator-c .creator .cell {
  float: left;
  cursor: pointer;
}
/* line 18, ../sass/_screen.scss */
.creator-c p {
  color: white;
}

/* line 23, ../sass/_screen.scss */
.screen-c {
  float: left;
  padding: 40px;
}
/* line 27, ../sass/_screen.scss */
.screen-c p {
  color: white;
}
/* line 31, ../sass/_screen.scss */
.screen-c .screen {
  width: 300px;
  height: 300px;
  background-color: #141414;
  margin-bottom: 40px;
}
/* line 37, ../sass/_screen.scss */
.screen-c .screen .screen-cell {
  float: left;
  pointer-events: none;
}
/* line 43, ../sass/_screen.scss */
.screen-c .box {
  width: 80px;
  height: 80px;
  position: relative;
  background-color: #141414;
}
/* line 50, ../sass/_screen.scss */
.screen-c .box .box-level {
  position: absolute;
  bottom: -2;
  right: -2;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  text-align: center;
}
/* line 59, ../sass/_screen.scss */
.screen-c .box .box-level p {
  line-height: calc(30px - 2px);
  width: 29px;
  color: white;
}
/* line 66, ../sass/_screen.scss */
.screen-c .box .box-cell {
  float: left;
  pointer-events: none;
}
