@font-face {
  font-family: v-large;
  src: url("../fonts/visitor1.ttf"); }

@font-face {
  font-family: v-small;
  src: url("../fonts/visitor2.ttf"); }

.v-ultra {
  font-family: v-large;
  font-size: 100px; }

.v-large {
  font-family: v-large;
  font-size: 50px; }

.v-small {
  font-family: v-small;
  font-size: 30px; }

.v-tiny {
  font-family: v-small;
  font-size: 20px; }

.gray {
  color: #b7b7b7 !important; }

.red {
  color: #FF0000 !important; }

.highlight {
  color: #00FF00 !important; }

.Warrior {
  color: #AA5555 !important; }

.Wizard {
  color: #5555AA !important; }

.Troll {
  color: #55AA55 !important; }

.Priest {
  color: #AAAA55 !important; }

body {
  background-color: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }
  *::-webkit-scrollbar {
    display: none; }

a:link {
  text-decoration: none; }

.version-title {
  position: absolute;
  top: 0;
  left: 0;
  color: white; }

.login-c {
  width: 100vw;
  height: 100vh;
  text-align: center; }
  .login-c .content-c {
    width: 505px;
    display: inline-block;
    height: 100%;
    text-align: left; }
    .login-c .content-c .title-c {
      margin-bottom: 30px;
      margin-top: 100px;
      width: 100%;
      height: 100px;
      overflow: hidden;
      position: relative;
      text-align: center; }
      .login-c .content-c .title-c p {
        position: absolute;
        top: 100%;
        width: 100%; }
        .login-c .content-c .title-c p.active {
          top: 0px; }
    .login-c .content-c .login-title {
      margin-bottom: 10px;
      color: white; }
    .login-c .content-c input {
      background-color: #111;
      border: none;
      border-bottom: 1px solid white;
      color: white;
      cursor: pointer;
      width: 100%;
      margin-bottom: 20px; }
      .login-c .content-c input::-webkit-input-placeholder {
        color: #444; }
      .login-c .content-c input::-moz-placeholder {
        color: #444; }
      .login-c .content-c input:-ms-input-placeholder {
        color: #444; }
      .login-c .content-c input:-moz-placeholder {
        color: #444; }
      .login-c .content-c input.login-submit {
        border: 2px solid white;
        height: 60px;
        margin-bottom: 100px; }
      .login-c .content-c input.signup-submit {
        border: 2px solid white;
        height: 60px;
        margin-bottom: 100px; }
      .login-c .content-c input.login-signup {
        border: 2px solid white;
        height: 40px;
        width: 100%;
        display: inline-block; }
      .login-c .content-c input:focus {
        outline: none; }

.matchmaking-c {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  .matchmaking-c .options-c {
    width: 400px;
    height: 100%;
    margin-top: 30px;
    margin-left: 20px;
    position: relative;
    float: left; }
    .matchmaking-c .options-c .sidebar-p {
      color: white; }
      .matchmaking-c .options-c .sidebar-p.has-margin {
        margin-bottom: 20px; }
    .matchmaking-c .options-c .create-game-button {
      height: 40px;
      width: 100%;
      border: 2px solid white;
      margin-bottom: 30px;
      text-align: center;
      cursor: pointer; }
      .matchmaking-c .options-c .create-game-button p {
        color: white;
        line-height: calc(40px - 2px); }
      .matchmaking-c .options-c .create-game-button.active {
        border: 2px solid #444; }
        .matchmaking-c .options-c .create-game-button.active p {
          color: #444; }
    .matchmaking-c .options-c .creator-buttons {
      position: absolute;
      bottom: 20px;
      left: 0px;
      width: 100%; }
      .matchmaking-c .options-c .creator-buttons .create-monster-button {
        height: 40px;
        width: 100%;
        border: 2px solid white;
        margin-bottom: 20px;
        text-align: center;
        cursor: pointer; }
        .matchmaking-c .options-c .creator-buttons .create-monster-button p {
          color: white;
          line-height: calc(40px - 2px); }
      .matchmaking-c .options-c .creator-buttons .create-item-button {
        height: 40px;
        width: 100%;
        border: 2px solid white;
        margin-bottom: 20px;
        text-align: center;
        cursor: pointer; }
        .matchmaking-c .options-c .creator-buttons .create-item-button p {
          color: white;
          line-height: calc(40px - 2px); }
    .matchmaking-c .options-c .game-info-c {
      display: none; }
      .matchmaking-c .options-c .game-info-c.active {
        display: block; }
      .matchmaking-c .options-c .game-info-c .game-host {
        color: white;
        margin-bottom: 30px;
        opacity: 0; }
        .matchmaking-c .options-c .game-info-c .game-host.active {
          opacity: 1; }
      .matchmaking-c .options-c .game-info-c .game-player {
        color: #444;
        margin-bottom: 10px;
        opacity: 0; }
        .matchmaking-c .options-c .game-info-c .game-player.joined {
          color: white; }
        .matchmaking-c .options-c .game-info-c .game-player.active {
          opacity: 1; }
      .matchmaking-c .options-c .game-info-c .start-game-button {
        height: 40px;
        width: 100%;
        border: 2px solid white;
        margin-top: 30px;
        text-align: center;
        cursor: pointer;
        opacity: 0; }
        .matchmaking-c .options-c .game-info-c .start-game-button p {
          color: white;
          line-height: calc(40px - 2px); }
        .matchmaking-c .options-c .game-info-c .start-game-button.active {
          opacity: 1; }
  .matchmaking-c .players-c {
    width: 400px;
    height: 100%;
    margin-top: 30px;
    margin-left: 40px;
    position: relative;
    float: left; }
    .matchmaking-c .players-c .players-c-title {
      margin-bottom: 30px; }
      .matchmaking-c .players-c .players-c-title p {
        color: white; }
    .matchmaking-c .players-c .all-players {
      width: 100%;
      height: calc(100% - 100px);
      overflow: scroll; }
      .matchmaking-c .players-c .all-players .player {
        width: 100%;
        margin-bottom: 10px;
        opacity: 0; }
        .matchmaking-c .players-c .all-players .player p {
          color: white; }
          .matchmaking-c .players-c .all-players .player p .join {
            background-color: #FF0000;
            padding-left: 5px;
            padding-right: 5px;
            display: none;
            margin-left: 10px; }
            .matchmaking-c .players-c .all-players .player p .join.active {
              display: inline-block;
              cursor: pointer; }
        .matchmaking-c .players-c .all-players .player.active {
          opacity: 1; }
  .matchmaking-c .logout-button {
    height: 40px;
    width: 150px;
    position: absolute;
    top: 30px;
    right: 20px;
    border: 2px solid white;
    text-align: center;
    cursor: pointer; }
    .matchmaking-c .logout-button p {
      color: white;
      line-height: calc(40px - 2px); }
  .matchmaking-c #ChatBox1 {
    position: absolute;
    width: 400px;
    height: 500px;
    bottom: 0;
    right: 0;
    border: 2px solid white;
    overflow: scroll; }
    .matchmaking-c #ChatBox1 .ChatBox1-Users {
      display: none; }
    .matchmaking-c #ChatBox1 .ChatBox1-Channels {
      display: none; }
    .matchmaking-c #ChatBox1 .ChatBox1-History {
      height: 100%; }
      .matchmaking-c #ChatBox1 .ChatBox1-History .ChatMessage {
        font-family: v-small;
        color: white; }
    .matchmaking-c #ChatBox1 .ChatBox1-Chat {
      position: absolute;
      left: 0;
      bottom: 0; }
      .matchmaking-c #ChatBox1 .ChatBox1-Chat .ChatBox1-InputBox button {
        border: 2px solid white;
        background: initial;
        font-family: v-small;
        font-size: 20px;
        color: white;
        padding: 0px;
        height: 30px;
        width: 60px; }
      .matchmaking-c #ChatBox1 .ChatBox1-Chat .ChatBox1-InputBox input {
        border: 2px solid white;
        background: initial;
        font-family: v-small;
        font-size: 20px;
        color: white;
        padding: 0px;
        height: 30px;
        width: 320px; }

.creator-content-c {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  min-width: 2000px; }

.sidebar-c {
  float: left;
  width: 300px;
  height: 100%;
  margin-right: 40px;
  margin-left: 20px;
  /*
	.submit-button {
		height:$creator-button-height;
		width:100%;
		border:2px solid white;
		margin-bottom: $content-margin-small;
		text-align: center;
		cursor:pointer;

		p {
			color:white;
			line-height: calc(50px - 2px);
		}
	}

	.load-button {
		height:$creator-button-height;
		width:100%;
		border:2px solid white;
		margin-bottom: $content-margin-small;
		text-align: center;
		cursor:pointer;

		p {
			color:white;
			line-height: calc(50px - 2px);
		}
	}
	*/
  /*
	.type-input {
		margin-top:10px;

		p {
			display:inline-block;
			margin-left:10px;
			color:white;
		}

		input[type="radio"] {
 			display:none;
		}

		.radio {
			margin-bottom:10px;
			overflow:hidden;
			cursor:pointer;

			.checkbox {
				float:left;
				width:14px;
				height:14px;
				border:2px solid $placeholder-color;
				background-color:$bk-color;
			}

			p {
				float:left;
				line-height:15px;
				color:$placeholder-color;
			}

			&.active, &:hover {

				.checkbox {
					border-color:white;
					background-color:white;
				}

				p {
					color:white;
				}
			}
		}
	}*/ }
  .sidebar-c .sidebar-top {
    height: calc(100% - ((2 * 50px) + (2 * 20px))); }
  .sidebar-c input {
    background-color: #111;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    cursor: pointer;
    margin-bottom: 20px; }
    .sidebar-c input::-webkit-input-placeholder {
      color: #444; }
    .sidebar-c input::-moz-placeholder {
      color: #444; }
    .sidebar-c input:-ms-input-placeholder {
      color: #444; }
    .sidebar-c input:-moz-placeholder {
      color: #444; }
  .sidebar-c .sidebar-title {
    color: white;
    margin-bottom: 20px; }
  .sidebar-c .sidebar-p {
    color: white; }
  .sidebar-c .radio-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px; }
    .sidebar-c .radio-container .type-c {
      float: left;
      width: 50%; }
    .sidebar-c .radio-container .range-c {
      float: left;
      width: 50%; }
    .sidebar-c .radio-container .classes-c {
      float: left;
      width: 100%; }
    .sidebar-c .radio-container .buff-c {
      float: left;
      width: 50%; }
      .sidebar-c .radio-container .buff-c .buff-amt-p {
        color: #444; }
        .sidebar-c .radio-container .buff-c .buff-amt-p.active {
          color: white; }
      .sidebar-c .radio-container .buff-c input {
        width: 100%;
        border-bottom: 1px solid #444;
        color: #444;
        pointer-events: none; }
        .sidebar-c .radio-container .buff-c input.active {
          color: white;
          border-bottom: 1px solid white;
          pointer-events: all; }
    .sidebar-c .radio-container .type-input, .sidebar-c .radio-container .range-input, .sidebar-c .radio-container .buff-input, .sidebar-c .radio-container .class-input {
      margin-top: 10px; }
      .sidebar-c .radio-container .type-input p, .sidebar-c .radio-container .range-input p, .sidebar-c .radio-container .buff-input p, .sidebar-c .radio-container .class-input p {
        display: inline-block;
        margin-left: 10px;
        color: white; }
      .sidebar-c .radio-container .type-input input[type="radio"], .sidebar-c .radio-container .range-input input[type="radio"], .sidebar-c .radio-container .buff-input input[type="radio"], .sidebar-c .radio-container .class-input input[type="radio"] {
        display: none; }
      .sidebar-c .radio-container .type-input .radio, .sidebar-c .radio-container .range-input .radio, .sidebar-c .radio-container .buff-input .radio, .sidebar-c .radio-container .class-input .radio {
        margin-bottom: 10px;
        overflow: hidden;
        cursor: pointer; }
        .sidebar-c .radio-container .type-input .radio .checkbox, .sidebar-c .radio-container .range-input .radio .checkbox, .sidebar-c .radio-container .buff-input .radio .checkbox, .sidebar-c .radio-container .class-input .radio .checkbox {
          float: left;
          width: 14px;
          height: 14px;
          border: 2px solid #444;
          background-color: #111; }
        .sidebar-c .radio-container .type-input .radio p, .sidebar-c .radio-container .range-input .radio p, .sidebar-c .radio-container .buff-input .radio p, .sidebar-c .radio-container .class-input .radio p {
          float: left;
          line-height: 15px;
          color: #444; }
        .sidebar-c .radio-container .type-input .radio.active .checkbox, .sidebar-c .radio-container .type-input .radio:hover .checkbox, .sidebar-c .radio-container .range-input .radio.active .checkbox, .sidebar-c .radio-container .range-input .radio:hover .checkbox, .sidebar-c .radio-container .buff-input .radio.active .checkbox, .sidebar-c .radio-container .buff-input .radio:hover .checkbox, .sidebar-c .radio-container .class-input .radio.active .checkbox, .sidebar-c .radio-container .class-input .radio:hover .checkbox {
          border-color: white;
          background-color: white; }
        .sidebar-c .radio-container .type-input .radio.active p, .sidebar-c .radio-container .type-input .radio:hover p, .sidebar-c .radio-container .range-input .radio.active p, .sidebar-c .radio-container .range-input .radio:hover p, .sidebar-c .radio-container .buff-input .radio.active p, .sidebar-c .radio-container .buff-input .radio:hover p, .sidebar-c .radio-container .class-input .radio.active p, .sidebar-c .radio-container .class-input .radio:hover p {
          color: white; }
  .sidebar-c .color-selector {
    width: 100%;
    padding-top: 10px;
    border-top: 2px solid white;
    height: 357px;
    overflow: scroll; }
    .sidebar-c .color-selector .color {
      cursor: pointer; }
    .sidebar-c .color-selector .eraser {
      color: #444;
      cursor: pointer; }
    .sidebar-c .color-selector .eraser:hover, .sidebar-c .color-selector .eraser.active {
      color: white; }

.creator-c {
  float: left;
  padding: 40px;
  margin-right: 20px;
  position: relative;
  height: 100vh; }
  .creator-c .creator {
    width: 500px;
    height: 500px;
    background-color: #141414;
    overflow: hidden; }
    .creator-c .creator .cell {
      float: left;
      cursor: pointer; }
  .creator-c p {
    color: white; }
  .creator-c textarea {
    position: absolute;
    left: 40px;
    bottom: 20px;
    width: calc(100% - 80px);
    background-color: #111;
    border: 2px solid white;
    height: calc(100vh - (500px + 120px));
    color: white;
    cursor: pointer; }
    .creator-c textarea::-webkit-input-placeholder {
      color: #444; }
    .creator-c textarea::-moz-placeholder {
      color: #444; }
    .creator-c textarea:-ms-input-placeholder {
      color: #444; }
    .creator-c textarea:-moz-placeholder {
      color: #444; }

.creator-screen-c {
  float: left;
  padding: 40px;
  position: relative;
  height: 100vh;
  padding-top: 240px; }
  .creator-screen-c p {
    color: white; }
  .creator-screen-c .screen {
    width: 300px;
    height: 300px;
    background-color: #141414;
    margin-bottom: 18px;
    z-index: 1; }
    .creator-screen-c .screen .screen-cell {
      float: left;
      pointer-events: none; }
  .creator-screen-c .box {
    width: 80px;
    height: 80px;
    position: relative;
    background-color: #141414;
    z-index: 1; }
    .creator-screen-c .box .box-level {
      position: absolute;
      bottom: -2;
      right: -2;
      width: 30px;
      height: 30px;
      border: 2px solid white;
      text-align: center; }
      .creator-screen-c .box .box-level p {
        line-height: calc(30px - 2px);
        width: 29px;
        color: white; }
    .creator-screen-c .box .box-cell {
      float: left;
      pointer-events: none; }
  .creator-screen-c .buttons-c {
    width: calc(100% - 80px);
    position: absolute;
    top: 60;
    left: 40px;
    z-index: 10; }
    .creator-screen-c .buttons-c .submit-button {
      height: 50px;
      width: 100%;
      border: 2px solid white;
      margin-bottom: 20px;
      text-align: center;
      cursor: pointer; }
      .creator-screen-c .buttons-c .submit-button p {
        color: white;
        line-height: calc(50px - 2px); }
    .creator-screen-c .buttons-c .load-button {
      height: 50px;
      width: 100%;
      border: 2px solid white;
      margin-bottom: 20px;
      text-align: center;
      cursor: pointer; }
      .creator-screen-c .buttons-c .load-button p {
        color: white;
        line-height: calc(50px - 2px); }
    .creator-screen-c .buttons-c .load-window {
      height: 0px;
      width: 100%;
      transition: height 0.2s;
      padding-left: 5px;
      background-color: rgba(0, 0, 0, 0.8);
      overflow-y: scroll; }
      .creator-screen-c .buttons-c .load-window.active {
        height: 606px; }
      .creator-screen-c .buttons-c .load-window .load-item {
        color: white; }

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  z-index: 999;
  transition: opacity 0.5s ease-in-out; }

body.loaded #loader {
  opacity: 0;
  pointer-events: none; }

.game-c {
  width: 100vw;
  height: 100vh;
  text-align: center; }
  .game-c .content-c {
    width: 600px;
    display: inline-block;
    height: 100%; }
  .game-c .players-side-bar {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left; }
    .game-c .players-side-bar div {
      margin-bottom: 40px; }
      .game-c .players-side-bar div p {
        color: #b7b7b7; }
        .game-c .players-side-bar div p.username {
          color: white; }
      .game-c .players-side-bar div.active {
        margin-left: 30px; }
        .game-c .players-side-bar div.active .username {
          color: #00FF00; }

.box {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  position: relative;
  z-index: 1; }
  .box svg {
    width: 100%;
    height: 100%;
    pointer-events: none; }
  .box.active {
    z-index: 100; }
    .box.active .box-menu {
      display: block; }
  .box.fade {
    opacity: 0.3; }
    .box.fade:hover {
      opacity: 1; }
  .box.flash-geen {
    border: 2px solid green; }
  .box .box-level {
    position: absolute;
    bottom: -2;
    right: -2;
    width: 30px;
    height: 30px;
    border: 2px solid white; }
    .box .box-level p {
      line-height: calc(30px - 2px);
      width: 29px;
      color: white; }
  .box.low .box-level {
    border: 2px solid cyan; }
    .box.low .box-level p {
      color: cyan; }
  .box.med .box-level {
    border: 2px solid green; }
    .box.med .box-level p {
      color: green; }
  .box.high .box-level {
    border: 2px solid orange; }
    .box.high .box-level p {
      color: orange; }
  .box.wild .box-level {
    border: 2px solid red; }
    .box.wild .box-level p {
      color: red; }
  .box .box-cell {
    float: left;
    pointer-events: none; }
  .box .box-menu {
    display: none;
    background-color: #141414;
    position: absolute;
    left: calc(100% + 2px);
    bottom: -2px;
    padding: 30px;
    width: 180px; }
    .box .box-menu p {
      color: white;
      cursor: pointer; }
      .box .box-menu p.list-item:hover {
        color: green; }
  .box.bag-box.bag-2nd-row .box-menu {
    top: auto;
    bottom: -2px; }
  .box.bag-box.last-in-row .box-menu {
    left: auto;
    right: calc(100% + 2px); }
  .box.last-body-box .box-menu {
    left: auto;
    right: calc(100% + 2px); }

.screen-c {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  border: 2px solid white;
  overflow: hidden;
  height: 300px;
  margin-top: 10px; }
  .screen-c.flash-green {
    border: 2px solid green; }
  .screen-c.flash-red {
    border: 2px solid red; }
  .screen-c .screen-text {
    text-align: center;
    width: 100%;
    color: white;
    display: none;
    padding-top: 100px; }
    .screen-c .screen-text.active {
      display: block; }
  .screen-c .screen {
    width: 300px;
    height: 300px;
    background-color: #141414;
    float: left; }
    .screen-c .screen svg {
      width: 100%;
      height: 100%;
      pointer-events: none; }
    .screen-c .screen .screen-cell {
      float: left;
      pointer-events: none; }
    .screen-c .screen.hidden {
      display: none; }
  .screen-c .screen-info-c {
    float: left;
    width: calc(300px - 6px);
    text-align: left;
    padding: 5px; }
    .screen-c .screen-info-c p {
      color: white;
      padding-left: 5px; }
      .screen-c .screen-info-c p.monster-lvl {
        margin-bottom: 5px; }
        .screen-c .screen-info-c p.monster-lvl .troll-debuff {
          display: none; }
          .screen-c .screen-info-c p.monster-lvl .troll-debuff.Troll {
            display: inline; }
      .screen-c .screen-info-c p.monster-name {
        margin-bottom: 10px; }
      .screen-c .screen-info-c p.monster-desc {
        margin-bottom: 10px; }
    .screen-c .screen-info-c.hidden {
      display: none; }

.main-button {
  width: 100%;
  height: 60px;
  border: 2px solid white;
  margin-bottom: 10px;
  cursor: pointer; }
  .main-button p {
    color: white;
    line-height: 60px; }
  .main-button.clicked {
    color: gray; }

.console-c {
  width: 100%;
  height: calc(100vh - 420px);
  overflow: scroll; }
  .console-c .name-row {
    width: 100%;
    overflow: hidden; }
    .console-c .name-row .left {
      color: white;
      float: left; }
    .console-c .name-row .right {
      color: white;
      float: right; }
  .console-c .power-row {
    width: 100%;
    overflow: hidden; }
    .console-c .power-row .left {
      color: white;
      float: left; }
    .console-c .power-row .right {
      color: white;
      float: right; }
      .console-c .power-row .right .otuAmt {
        color: #00FF00; }
  .console-c .build-row {
    width: 100%;
    height: 164px;
    margin-bottom: 10px; }
    .console-c .build-row .build-body {
      float: left; }
      .console-c .build-row .build-body .body-col {
        float: left;
        width: 80px;
        margin-right: 5px; }
        .console-c .build-row .build-body .body-col:first-child, .console-c .build-row .build-body .body-col:last-child {
          padding-top: calc(80px / 2); }
        .console-c .build-row .build-body .body-col:nth-child(2) .box:first-child {
          margin-bottom: 5px; }
    .console-c .build-row .build-info {
      float: right;
      width: 250px; }
      .console-c .build-row .build-info .class-row {
        width: 100%;
        overflow: hidden;
        margin-bottom: 10px; }
        .console-c .build-row .build-info .class-row .left {
          float: left;
          color: white; }
        .console-c .build-row .build-info .class-row .right {
          float: right;
          color: white; }
      .console-c .build-row .build-info .otu-item-row {
        width: 100%;
        overflow: hidden; }
        .console-c .build-row .build-info .otu-item-row .left {
          float: left;
          color: white; }
        .console-c .build-row .build-info .otu-item-row .right {
          float: right;
          color: white; }
  .console-c .bag-row {
    width: 100%;
    height: 300px; }
    .console-c .bag-row .box {
      float: left;
      margin-right: 5px;
      margin-bottom: 5px; }
      .console-c .bag-row .box:nth-child(7), .console-c .bag-row .box:nth-child(14) {
        margin-right: 0px; }
