@font-face {
  font-family: v-large;
  src: url("../fonts/visitor1.ttf");
}
@font-face {
  font-family: v-small;
  src: url("../fonts/visitor2.ttf");
}
/* line 39, ../sass/style.scss */
.v-large {
  font-family: v-large;
  font-size: 50px;
}

/* line 44, ../sass/style.scss */
.v-small {
  font-family: v-small;
  font-size: 30px;
}

/* line 52, ../sass/style.scss */
body {
  background-color: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* line 60, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
/* line 66, ../sass/style.scss */
*::-webkit-scrollbar {
  display: none;
}

/* line 1, ../sass/_game.scss */
.game-c {
  width: 100vw;
  height: 100vh;
  text-align: center;
}
/* line 6, ../sass/_game.scss */
.game-c .content-c {
  width: 505px;
  display: inline-block;
  height: 100%;
}

/* line 13, ../sass/_game.scss */
.box {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  position: relative;
}
/* line 19, ../sass/_game.scss */
.box .box-level {
  position: absolute;
  bottom: -2;
  right: -2;
  width: 30px;
  height: 30px;
  border: 2px solid white;
}
/* line 27, ../sass/_game.scss */
.box .box-level p {
  line-height: calc(30px - 2px);
  width: 29px;
  color: white;
}

/* line 1, ../sass/_screen.scss */
.screen-c {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  border: 2px solid white;
}
/* line 7, ../sass/_screen.scss */
.screen-c .screen {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: #141414;
}

/* line 1, ../sass/_console.scss */
.main-button {
  width: 100%;
  height: 60px;
  border: 2px solid white;
  margin-bottom: 10px;
}
/* line 7, ../sass/_console.scss */
.main-button p {
  color: white;
  line-height: 60px;
}

/* line 13, ../sass/_console.scss */
.console-c {
  width: 100%;
  height: calc(100vh - 420px);
  overflow: scroll;
}
/* line 18, ../sass/_console.scss */
.console-c .name-row {
  width: 100%;
  overflow: hidden;
}
/* line 22, ../sass/_console.scss */
.console-c .name-row .left {
  color: white;
  float: left;
}
/* line 26, ../sass/_console.scss */
.console-c .name-row .right {
  color: white;
  float: right;
}
/* line 32, ../sass/_console.scss */
.console-c .power-row {
  width: 100%;
  overflow: hidden;
}
/* line 36, ../sass/_console.scss */
.console-c .power-row .left {
  color: white;
  float: left;
}
/* line 40, ../sass/_console.scss */
.console-c .power-row .right {
  color: white;
  float: right;
}
/* line 46, ../sass/_console.scss */
.console-c .build-row {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 51, ../sass/_console.scss */
.console-c .build-row .build-body {
  float: left;
  overflow: hidden;
}
/* line 55, ../sass/_console.scss */
.console-c .build-row .build-body .body-col {
  float: left;
  width: 80px;
  margin-right: 5px;
}
/* line 60, ../sass/_console.scss */
.console-c .build-row .build-body .body-col:first-child, .console-c .build-row .build-body .body-col:last-child {
  padding-top: calc(80px / 2);
}
/* line 64, ../sass/_console.scss */
.console-c .build-row .build-body .body-col:nth-child(2) .box:first-child {
  margin-bottom: 5px;
}
/* line 69, ../sass/_console.scss */
.console-c .build-row .build-info {
  float: right;
  width: 250px;
}
/* line 74, ../sass/_console.scss */
.console-c .build-row .build-info .class-row {
  width: 100%;
  overflow: hidden;
}
/* line 78, ../sass/_console.scss */
.console-c .build-row .build-info .class-row .left {
  float: left;
  color: white;
}
/* line 83, ../sass/_console.scss */
.console-c .build-row .build-info .class-row .right {
  float: right;
  color: white;
}
/* line 88, ../sass/_console.scss */
.console-c .build-row .build-info .race-row {
  width: 100%;
  overflow: hidden;
}
/* line 92, ../sass/_console.scss */
.console-c .build-row .build-info .race-row .left {
  float: left;
  color: white;
}
/* line 97, ../sass/_console.scss */
.console-c .build-row .build-info .race-row .right {
  float: right;
  color: white;
}
/* line 105, ../sass/_console.scss */
.console-c .bag-row {
  width: 100%;
  overflow: hidden;
}
/* line 109, ../sass/_console.scss */
.console-c .bag-row .box {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
/* line 114, ../sass/_console.scss */
.console-c .bag-row .box:nth-child(6), .console-c .bag-row .box:nth-child(12) {
  margin-right: 0px;
}
